body{
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.butt{
    
    width: 100px;
    color: #000000;
    background-color: rgb(219, 219, 219);
    border-style: groove;
    box-shadow: 1px 2px 1px 0px rgb(79, 79, 79);
}
.btt2{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: rgb(12, 205, 244);
    width: 100px;
    height: 20px;
    border-style: double;
    border-radius: 10%;
    text-shadow: 1px 1px 2px black;
    text-align: center;


}
h1{
    color: red;
    text-align: center;
    font-size: 40px;
}
